rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	// Allow access to the "schools" collection
    match /schools/{document=**} {
      allow read;
      allow write;
    }
    
    match /results/{document=**} {
      allow read;
      allow write;
    }
    
     match /capitols/{document=**} {
      allow read;
      allow write;
    }

    // Allow access to the "users" collection
    match /users/{document=**} {
      allow read;
      allow write;
    }
    
    // Allow access to the "mail" collection
    match /mail/{document=**} {
      allow read;
      allow write;
    }

    // Allow access to the "classes" collection
    match /classes/{document=**} {
      allow read;
      allow write;
    }
    
    // Allow access to the "notifications" collection
    match /notifications/{document=**} {
      allow read;
      allow write;
    }
    
    // Allow access to the "materials" collection
    match /materials/{document=**} {
      allow read;
      allow write;
    }
  }
}