<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1nrz0Kj67NFGqtdvVSuf-kBRxZOKenLw</string>
	<key>GCM_SENDER_ID</key>
	<string>499783588915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.infomat</string>
	<key>PROJECT_ID</key>
	<string>infomat-39565</string>
	<key>STORAGE_BUCKET</key>
	<string>infomat-39565.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499783588915:ios:a0da9692fd9b09aa8a5746</string>
</dict>
</plist>